<div class="bootstrap-wrapper">

    <div class="container mt-20">
        <div class="row">
            
            <div class="col-md-4 offset-md-4">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="">
                </div>

                <h1 class="text-center">Login Here!!!!</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                    <mat-form-field appearance="fill"  class="full-width">
                        <mat-label>User Name</mat-label>
                        <input type="text"  formControlName="userName" name="userName" matInput placeholder="Enter Here">
                        <div *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched">
                          <small class="text-danger" *ngIf="loginForm.get('userName')?.errors?.['required']">UserName is Required</small>
                         
                        </div>
                      </mat-form-field>

                      <mat-form-field appearance="fill"  class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="password"  formControlName="password" name="password" matInput placeholder="Enter Here">
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                          <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Password is Required</small>
                        </div>
                      </mat-form-field>

                      <div class="container text-center">
                        <button mat-raised-button color="accent" type="submit">Login</button>
                


                      </div>



                </form>


            </mat-card>
            </div>
       
        </div>
    </div>
</div>
