/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
background: #f5f5f5;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center{
    text-align: center;
}

.text-danger{
    color: red;
}

.example-spacer {
    flex: 1 1 auto;
  }

.mr20{
    margin-right: 60px;
}

.ml20{
    margin-left: 20px;
}

.mt20{
    margin-top: 20px;
}

.mb20{
    margin-bottom: 20px;
}

.mr40{
    margin-right: 50px;
}



.green-snackbar {
    background: green !important ;
    color: white;
}
.green-snackbar button {
    background-color:green;
    color: white !important;
    border: none;
}

.red-snackbar {
    background: red ;
    color: white;
}
.red-snackbar button {
    background-color:red;
    color: white !important;
    border: none;
}