<div class="mt20">
    <form enctype="multipart/form-data">
        <fieldset>
          
            <div class="text-center">
              <input type="file" (change)="onChange($event)" name="files"  class="form-control" />
              <button (click)="onClick()">Upload</button>
            </div>
            <div>
            </div>
        </fieldset>
      </form>
    </div>


<div class="home-container">
    <mat-card class="user-card">
      <mat-card-header>
        <mat-card-title>User Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="user-info">
          <p><strong>First Name:{{user.firstName}}</strong></p>
          <p><strong>Last Name:{{user.lastName}}</strong></p>
          <p><strong>Email:{{user.email}}</strong></p>
          <p><strong>Phone Number:{{user.phoneNumber}}</strong></p>
          <p><strong>Username:{{user.username}}</strong></p>
          <img [src]="url"style="width:150px" alt="Profile Image">
        </div>
      </mat-card-content>
    </mat-card>
  </div>
 
  
  



  
